# Modelo de desenvolvimento. ./local.sh setup gera os valores secretos.
SECRET_KEY=__SECRET_KEY__
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1
ENVIRONMENT=development
DJANGO_SETTINGS_MODULE=mediata.dev_settings
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=mediata_dev
POSTGRES_USER=mediata_dev
POSTGRES_PASSWORD=__DB_PASSWORD__
POSTGRES_HOST=psql
POSTGRES_PORT=5432
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_SUPERUSER_PASSWORD=__ADMIN_PASSWORD__
