{% extends '../_layout/base.html' %}

{% block conteudo %}
<!-- Main Content -->

    <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="fs-2">Usuários</span>
        
        <a href="{% url 'registrar-usuarios' %}" class="btn btn-warning rounded-pill">
            Adicionar usuário <i class="bi bi-plus-lg"></i>
        </a>
    </div>


    <div class="table-responsive small">
    <table class="table table-striped table-sm w-100" style="table-layout: fixed;">
        <thead>
            <tr>
                <th scope="col">Usuário</th>
                <th scope="col">Email</th>
                <th scope="col" >Role</th>
                <th scope="col">Grupo</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>teste</td>
                <td>placeholder</td>
                <td>
                    teste
                </td>
                <td>
                    <div class="d-flex gap-1 flex-wrap">
                        <a href="{% url 'editar-usuarios' %}" type="button" class="btn btn-primary btn-sm">Ver</a>
                        <a href="{% url 'editar-usuarios' %}" type="button" class="btn btn-success btn-sm">Editar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}