{% extends '../_layout/base.html' %}

{% block conteudo %}

    <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="fs-2">Adicionar ticket</span>
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-4">{{ form.ticket.label_tag }} {{ form.ticket }}</div>
        <div class="col-md-4">{{ form.status.label_tag }} {{ form.status }}</div>
        <div class="col-md-4">
          {{ form.data_finalizar.label_tag }}
          {{ form.data_finalizar }}
        </div>

      </div>

      <hr>

      <div class="row">
        <div class="col-md-3">{{ form.valor_mao_obra.label_tag }} {{ form.valor_mao_obra }}</div>
        <div class="col-md-3">{{ form.valor_mao_obra.label_tag }} {{ form.valor_material }}</div>
        <div class="col-md-3">{{ form.valor_custo.label_tag }} {{ form.valor_custo }}</div>
        <div class="col-md-3">{{ form.valor_faturamento.label_tag }} {{ form.valor_faturamento }}</div>
      </div>

      <hr>

      <div class="mb-3">
        {{ form.descricao.label_tag }}
        {{ form.descricao }}
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>


{% endblock %}